<title>Customer Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default%22%3E"></script>
    
     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_api_key']}&callback=initMap&libraries=&v=weekly", defer: 'defer' %>
      
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map.*/
      #maps{
        height: 550px;
        width: 100%;


        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100px;
        margin: 10px;
      }
    </style>
    <script>

    <%= @lat = Address.find(Building.first[:address_id])[:latitude]%>
    <%= @lng = Address.find(Building.first[:address_id])[:longitude]%>
    <%= p "lat : " + @lat.to_s %>
    <%= p "lng : " + @lng.to_s %>
    
      // Initialize and add the map
      function initMap() {
        // The location of testBuilding
        var jslat = <%= @lat %>
      
        var jslng = <%= @lng %>

        <% p "lat: " + @lat.to_s %>
        console.log (jslat)

        const testBuilding = { lat:  jslat , lng:  jslng };
        // The map, centered at testBuilding
        const map = new google.maps.Map(document.getElementById("maps"), {
          zoom: 10,
          center: testBuilding,
        });
        // The marker, positioned at testBuilding
        const marker = new google.maps.Marker({
          position: testBuilding,
          map: map,
        });
      }
    </script>


<body>
    <h1>Map of customers</h1>
    <div id="maps"></div>
</body>