<!DOCTYPE html>
<html>
  <head>
    <title>RocketApp</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<<<<<<< HEAD
    <%= favicon_link_tag 'LOGO_702x702.png'%>

    <meta charset="utf-8">





=======
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
>>>>>>> ea36bb4519ef719c239057af9bd5b2873ab50656
  </head>

  <body>
    <%= yield %>

    <script> var plugin_path ='assets/';</script>
  </body>
</html>
